page-flights {

}
ion-card-header {
  border-color: #26C485;
  border-width: 0 0 .75px 0;
  border-style: solid;
  width: 100% !important;
  font-weight: 50px !important;
  font-style: oblique !important;
  // background-color: #26C485;
  // color: white;
}
